{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Crear Post{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        {#    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}#}
        {{ form(form) }}
    </div>
{% endblock %}
